body {
    text-align: center;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

img {
    height: 300px;
}

html {
    background-color: pink;
}

h3 {
    font-family: 'Caveat', cursive;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}